ul {
  display: flex;
  list-style: none;
  li {
    height: 300px;
    padding: 20;
    a {
      text-decoration: none;
      background-color: papayawhip;
      border: 2px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 300px;
      width: 200px;
      margin: 3px;

      img {
        width: 100px;
      }
      h3 {
        color: red;
        text-align: center;
      }
    }
  }
}
